accelerate==0.33.0
dataclasses<1.0,>=0.6
datasets<2.20.0
evaluate==0.4.2
huggingface_hub<1.0,>=0.20.3
openpyxl<4.0.0,>=3.0.10
seaborn<1.0.0,>=0.12.2
transformers<4.51.0,>=4.43.0
fuzzywuzzy
python-Levenshtein